# Vitis/Vivado build outputs
**/.Xil
*.jou
*.log

# Vivado/Vitis generated hardware project
example_hw/build
example_platform/build


# Python
__pycache__/
*.pyc

# Venvs
.venv/

# VSCode
.vscode/settings.json

